In [3]:
import pandas as pd
course_name = ['Data Science','Machine Learning','Big Data','Data Engineer']
duration = [2 ,  3 , 6 ,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [2]:
# Question : 01. Write a code to print the data present in the second row of the dataframe, df.
df[1:2]

        course_name  duration
1  Machine Learning         3

In [6]:
# Question : 02. What is the difference between the functions loc and iloc in pandasi.DataFrame?

# iloc : iloc always takes inbuilt index , so when we try to fetch perticuler columns deatils then it can't be able to understand it.
df.iloc[0:4 , [0,1]]

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [7]:
# iloc don't work when we try to access it through the column name
df.iloc[0:4,['course_name' , 'duration']]
# it only accept numeric values

IndexError: .iloc requires numeric indexers, got ['course_name' 'duration']

In [10]:
# loc : loc can work with the column name , but it not work with numeric index 
df.loc[0:4 , ['course_name','duration']]

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [11]:
# similer task can be acheive using the numeric indexes
df.loc[0:4,[0,1]]

KeyError: "None of [Int64Index([0, 1], dtype='int64')] are in the [columns]"

In [15]:
# Question : 03 
# Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
# Did you observe any difference in both the outputs? If so then explain it.
new_df = df.reindex([3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [16]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [17]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
# yes output diffference between .loc and .iloc

'''.loc is label-based indexing, which means it uses the explicit labels of the DataFrame's index and column names to locate and 
retrieve data. When you use new_df.loc[2], you are asking pandas to retrieve the row with the label (index) "2" from the DataFrame new_df.'''

''' whereas On the other hand, .iloc is integer-based indexing, which uses the integer positions of the rows 
and columns to locate and retrieve data. When you use new_df.iloc[2], you are asking pandas to retrieve the third row (since the 
indexing starts from 0) from the DataFrame new_df'''

In [51]:
# Consider the below code to answer further questions:

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
# Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.363884  0.239457  0.569631  0.457896  0.103282  0.977045
2  0.197108  0.561512  0.231738  0.355313  0.570692  0.180383
3  0.700133  0.781170  0.718430  0.873563  0.688026  0.201071
4  0.908301  0.642766  0.166329  0.035932  0.129876  0.408044
5  0.406395  0.300929  0.986427  0.913359  0.983570  0.766706
6  0.532101  0.451651  0.694812  0.816834  0.551808  0.154023

In [52]:
# Question : 04  Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
df1.mean()

column_1    0.517987
column_2    0.496247
column_3    0.561228
column_4    0.575483
column_5    0.504542
column_6    0.447879
dtype: float64

In [53]:
# (ii) standard deviation of column, ‘column_2’
df1['column_2'].std()

0.20639151302837744

In [54]:
# Question : 05 Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

df1['column_2'][2] = 'abc'
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.363884  0.239457  0.569631  0.457896  0.103282  0.977045
2  0.197108       abc  0.231738  0.355313  0.570692  0.180383
3  0.700133   0.78117  0.718430  0.873563  0.688026  0.201071
4  0.908301  0.642766  0.166329  0.035932  0.129876  0.408044
5  0.406395  0.300929  0.986427  0.913359  0.983570  0.766706
6  0.532101  0.451651  0.694812  0.816834  0.551808  0.154023

In [55]:
df1['column_2'].mean()
# unsupported operand type(s) for +: 'float' and 'str'
# when we try to find the mean of column_2 , now column_2 contains string value , and when we do summation of all the column , it can't be able to sum string with floating point number

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [56]:
df1.loc[2, 'column_2'] = 'xyz'
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.363884  0.239457  0.569631  0.457896  0.103282  0.977045
2  0.197108       xyz  0.231738  0.355313  0.570692  0.180383
3  0.700133   0.78117  0.718430  0.873563  0.688026  0.201071
4  0.908301  0.642766  0.166329  0.035932  0.129876  0.408044
5  0.406395  0.300929  0.986427  0.913359  0.983570  0.766706
6  0.532101  0.451651  0.694812  0.816834  0.551808  0.154023

In [57]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
# Question : 06 What do you understand about the windows function in pandas and list the types of windows functions?

#  the windows functions  are used for performing calculations on a subset of data within a defined window or group. 

# Windows functions in pandas are typically applied using the rolling() or expanding() methods

# There are several types of window functions available in pandas:

'''
1 . Aggregation Functions:
sum(): Compute the sum of values within the window.
mean(): Compute the mean of values within the window.
median(): Compute the median of values within the window.
min(): Compute the minimum value within the window.
max(): Compute the maximum value within the window.
std(): Compute the standard deviation of values within the window.
var(): Compute the variance of values within the window.
count(): Count the non-null values within the window.
size(): Count the total number of values (including null) within the window.

2. Transformation Functions:
diff(): Compute the difference between consecutive values within the window.
pct_change(): Compute the percentage change between consecutive values within the window.
shift(): Shift the values within the window by a specified number of periods.


apply() method use for custom funciton definition

'''

In [62]:
# Question : 07 . Write a code to print only the current month and year at the time of answering this question.
# [Hint: Use pandas.datetime function]

import pandas as pd

# Get the current date and time
current_datetime = pd.datetime.now()

# Extract the month and year from the current date
current_month = current_datetime.month
current_year = current_datetime.year

print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 6
Current Year: 2023

/tmp/ipykernel_70/1693553828.py:7: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_datetime = pd.datetime.now()

In [61]:
from datetime import datetime
import pandas as pd

# Get the current date and time
current_datetime = datetime.now()

# Extract the month and year from the current date
current_month = current_datetime.month
current_year = current_datetime.year

print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 6
Current Year: 2023

In [71]:
# Question : 08 
# Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.

date1 = input("Enter the first date in YYYY-MM-DD format :")
date2 = input("Enter the first date in YYYY-MM-DD format :")

# Convert the input strings to pandas datetime objects
d1 =  pd.to_datetime(date1)
d2 = pd.to_datetime(date2)

time_diff  = d2-d1

diff_days = time_diff.days
diff_hours = time_diff.seconds // 3600
diff_minutes = (time_diff.seconds // 60) % 60

print("Time difference:")
print("Days:", diff_days)
print("Hours:", diff_hours)
print("Minutes:", diff_minutes)

Enter the first date in YYYY-MM-DD format : 2023-02-23
Enter the first date in YYYY-MM-DD format : 2023-04-12

Time difference:
Days: 48
Hours: 0
Minutes: 0

In [74]:
# Question : 09 
# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type.
# The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

file_path = input("Enter the file path Name :")

df  = pd.read_csv(file_path)

column_name = input("Enter the column name :")
cat  = pd.Categorical(df[column_name])

Enter the file path Name : services.csv
Enter the column name : status

['active', 'active', 'active', 'active', 'active', ..., 'active', 'defunct', 'inactive', 'active', 'active']
Length: 23
Categories (3, object): ['active', 'defunct', 'inactive']

In [75]:
# Question : 10. Write a Python program that reads a CSV file containing sales data for different products and
# visualizes the data using a stacked bar chart to show the sales of each product category over time. The
# program should prompt the user to enter the file path and display the chart.

import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file
df = pd.read_csv(file_path)

# Convert the 'Date' column to datetime type
df['Date'] = pd.to_datetime(df['Date'])

# Group the data by 'Date' and 'Category', and calculate the sum of 'Sales'
grouped_data = df.groupby(['Date', 'Category'])['Sales'].sum().unstack()

# Plot the stacked bar chart
grouped_data.plot(kind='bar', stacked=True)

# Set the labels and title
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales of Each Product Category Over Time')

# Display the chart
plt.show()

In [ ]:
# Question : 11  
'''
You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
'''

import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

# Create a table to display the results
result_table = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Test Score': [mean_score, median_score, mode_scores]
})

# Display the table
print(result_table)