In [ ]:
# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

# MongoDB : MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need.
# -->> it is a NOSQL database . It store data in the form of field and values pairs
# -->>MongoDB documents are similar to JSON objects.

"""Non -Relational Database : non-relational database are often called NOSQL database .In  the non-relational database data store in the form of the JSON document,insted of the traditional tabuler form.
-->> it is the more felexible and suitable database as it easy to understand documents base database.
-->> It is use to organize more complex and large data.
-->> It use multiple data structure to store various type of data
"""
"""
-->>NoSQL databases like MongoDB are a good choice when your data is more complex and doesn't fit well into the schema of a relational database like SQL,then it is good choice to use MongoDB over SQL
-->> MongoDb mostly use when require to store unstructured data, high scalability , high performance 
"""

In [ ]:
# Q2. State and Explain the features of MongoDB.

# --->> MongoDB is a popular NoSQL database that is designed to handle unstructured and semi-structured data
# Key Features of MongoDB :
# 1. Store Unstructured Data : it is more flexible to store the various type of  data , which can't be store in  the realtional database
# 2. Scalability :  MongoDB is designed to scale across multiple servers, allowing it to handle large volumes of data and traffic.
# 3. Indexing appropriately for better query executions.
# 4 . Load balancing : MongoDB supports large-scale load balancing. The platform can handle multiple concurrent read and write requests for the same data with best-in-class concurrency control and locking protocols that ensure data consistency. There’s no need to add an external load balancer—MongoDB ensures that each and every user has a consistent view and quality experience with the data they need to access
# 5 . Performance :  MongoDb have good performance

In [4]:
# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

# Connect MongoDb with Python : 
import pymongo

client = pymongo.MongoClient("mongodb+srv://pawankuamrmeena425:pawan123@cluster0.lelhqtc.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [5]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
# Create database and collection in MongoDB :
db = client ["Assignment"]

In [7]:
coll_ass = db["as_record"]

In [7]:
data = {"name":"sudh",
        "class" : "data science master",
        "time":"flexi"}

In [9]:
coll_ass.insert_one(data)

In [10]:
# Q4. Using the database and the collection created in question number 3, write a code to insert one record,and insert many records. Use the find() and find_one() methods to print the inserted record.

# Insert one record : 
data1 = {"name":"pawan",
         "college":"MBM University Jodhpur",
         "Branch": "Computer Science Engineering",
         "Year":"3rd  Year",
         "Semester":"6th semseter"
        }
         
coll_ass.insert_one(data1)

In [13]:
# Insert many records : 
data2 = [
{
    "name":"sohan",
    "Branch":"Computer Science Engineering",
    "year":"4th year"
},
{
"name":"rakesh",
"roll no":24234,
"subjects":["ssos","system design","computer networks","dbms","web development"]
},
{
"name":"ajay",
"course":"data science"
}    
]

coll_ass.insert_many(data2)

In [14]:
# find_one()
coll_ass.find_one()
# it will give first collection data in the database

{'_id': ObjectId('640ea3323605a6f1190dbf1a'),
 'name': 'sudh',
 'class': 'data science master',
 'time': 'flexi'}

In [35]:
# find()
for i in db.coll_ass.find():
    print(i)

In [17]:
# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

# .finc() method give all data inside the collection . we can find perticuler data by given unique id of that data 

# find the data where name equal to "rakesh"

for i in coll_ass.find({"name":"rakesh"}):
    print(i)

{'_id': ObjectId('640ea77b3605a6f1190dbf1d'), 'name': 'rakesh', 'roll no': 24234, 'subjects': ['ssos', 'system design', 'computer networks', 'dbms', 'web development']}

In [8]:
coll_sort = db["student"]

In [ ]:
# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

# The sort() method in MongoDB is used to sort the documents in a collection based on one or more fields.

data3 = [
{ "_id": 1, "name": "John", "age": 25 },
{ "_id": 2, "name": "Jane", "age": 30 },
{ "_id": 3, "name": "Bob", "age": 20 },
{ "_id": 4, "name": "Alice","age": 35 }
]

coll_sort.insert_many(data3)

In [14]:

cursor = coll_sort.find().sort([("age", 1)])

# Print sorted documents
for doc in cursor:
    print(doc)

{'_id': 3, 'name': 'Bob', 'age': 20}
{'_id': 1, 'name': 'John', 'age': 25}
{'_id': 2, 'name': 'Jane', 'age': 30}
{'_id': 4, 'name': 'Alice', 'age': 35}

In [23]:
for i in coll_ass.find():
    print(i)

{'_id': ObjectId('640ea3323605a6f1190dbf1a'), 'name': 'sudh', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('640ea6333605a6f1190dbf1b'), 'name': 'pawan', 'college': 'MBM University Jodhpur', 'Branch': 'Computer Science Engineering', 'Year': '3rd  Year', 'Semester': '6th semseter'}
{'_id': ObjectId('640ea77b3605a6f1190dbf1c'), 'name': 'sohan', 'Branch': 'Computer Science Engineering', 'year': '4th year'}
{'_id': ObjectId('640ea77b3605a6f1190dbf1d'), 'name': 'rakesh', 'roll no': 24234, 'subjects': ['ssos', 'system design', 'computer networks', 'dbms', 'web development']}
{'_id': ObjectId('640ea77b3605a6f1190dbf1e'), 'name': 'ajay', 'course': 'data science'}
{'_id': 1, 'name': 'John', 'age': 25}
{'_id': 2, 'name': 'Jane', 'age': 30}
{'_id': 3, 'name': 'Bob', 'age': 20}
{'_id': ObjectId('640ebf653605a6f1190dbf25'), ' _id': 4, 'name': 'Alice', 'age': 35}

In [24]:
# Q7. Explain why delete_one(), delete_many(), and drop() is used.

# delete_one() : it is use to delete one data that match to your filter , if there are multiple data match then first data from the collection deleted
coll_ass.delete_one({"name":"pawan"})

In [25]:
for i in coll_ass.find():
    print(i)

{'_id': ObjectId('640ea3323605a6f1190dbf1a'), 'name': 'sudh', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('640ea77b3605a6f1190dbf1c'), 'name': 'sohan', 'Branch': 'Computer Science Engineering', 'year': '4th year'}
{'_id': ObjectId('640ea77b3605a6f1190dbf1d'), 'name': 'rakesh', 'roll no': 24234, 'subjects': ['ssos', 'system design', 'computer networks', 'dbms', 'web development']}
{'_id': ObjectId('640ea77b3605a6f1190dbf1e'), 'name': 'ajay', 'course': 'data science'}
{'_id': 1, 'name': 'John', 'age': 25}
{'_id': 2, 'name': 'Jane', 'age': 30}
{'_id': 3, 'name': 'Bob', 'age': 20}
{'_id': ObjectId('640ebf653605a6f1190dbf25'), ' _id': 4, 'name': 'Alice', 'age': 35}

In [27]:
# delete_many(): it is use to delete all the data in the collection , that filter you pass
coll_ass.delete_many({"name":"rakesh"})

In [29]:
for i in coll_ass.find():
    print(i)

{'_id': ObjectId('640ea3323605a6f1190dbf1a'), 'name': 'sudh', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('640ea77b3605a6f1190dbf1c'), 'name': 'sohan', 'Branch': 'Computer Science Engineering', 'year': '4th year'}
{'_id': ObjectId('640ea77b3605a6f1190dbf1e'), 'name': 'ajay', 'course': 'data science'}
{'_id': 1, 'name': 'John', 'age': 25}
{'_id': 2, 'name': 'Jane', 'age': 30}
{'_id': 3, 'name': 'Bob', 'age': 20}
{'_id': ObjectId('640ebf653605a6f1190dbf25'), ' _id': 4, 'name': 'Alice', 'age': 35}

In [30]:
# drop :  it is use to delete complete colleticon
coll_ass.drop()

In [31]:
for i in coll_ass.find():
    print(i)