In [1]:
import pandas as pd

In [2]:
df =  pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
s = df['Name']

In [5]:
s

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [6]:
len(s)

891

In [7]:
type(s)

pandas.core.series.Series

In [9]:
s = df['Name'][0:10]

In [10]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [11]:
# how to give index manually
l = ['a','b','c','d','e','f','g','h','i','j']

In [12]:
pd.Series(s,index = l)

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

In [14]:
s1 = pd.Series(list(s),index = l)

In [15]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [16]:
# but it always recall it default indexes
s1[0]

'Braund, Mr. Owen Harris'

In [17]:
s1['a']

'Braund, Mr. Owen Harris'

In [18]:
s1['c']

'Heikkinen, Miss. Laina'

In [20]:
s2 = s1.append(s)

/tmp/ipykernel_518/2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [21]:
s2

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [22]:
s2[0]

'Braund, Mr. Owen Harris'

In [26]:
s3 = pd.Series([132,234,13,2554,243,423],index = [2,3,1,5,4,7])

In [27]:
s5 =  pd.Series([567,34,65,86,345,3],index = [6,5,3,1,2,3])

In [28]:
s6 = s3.append(s5)

/tmp/ipykernel_518/3309729492.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s3.append(s5)

In [29]:
s6

2     132
3     234
1      13
5    2554
4     243
7     423
6     567
5      34
3      65
1      86
2     345
3       3
dtype: int64

In [30]:
s6[1]

1    13
1    86
dtype: int64

In [31]:
s6[6]

567

In [32]:
s6[0:6]

/tmp/ipykernel_518/4018399945.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:6]

2     132
3     234
1      13
5    2554
4     243
7     423
dtype: int64

In [34]:
s3*s5

1     1118.0
2    45540.0
3    15210.0
3      702.0
4        NaN
5    86836.0
6        NaN
7        NaN
dtype: float64

In [35]:
s6

2     132
3     234
1      13
5    2554
4     243
7     423
6     567
5      34
3      65
1      86
2     345
3       3
dtype: int64

In [37]:
s3+s5

1      99.0
2     477.0
3     299.0
3     237.0
4       NaN
5    2588.0
6       NaN
7       NaN
dtype: float64